.App {
    width: 100%;
    padding: 0 80px;
}

.main-content {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: flex-start;
    margin-top: 20px;
}

.main-content > *:first-child {
    flex: 1;
}

.main-content > *:last-child {
    flex: 1;
    min-width: 0;
}
